*{ 
    box-sizing: border-box; 
    padding: 0; 
    margin: 0;
}
body {font-family: "roboto bold", -apple-system, Segoe UI, Roboto, Arial, sans-serif; color: #111827; background: #f5f7fb ;}

.pagina {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
      "navbar navbar"
      "sidebar productos"
      "footer footer";
      background: aquamarine;
}

.navbar {
    grid-area: navbar;
    background-color: rgba(204, 252, 252, 0.578);
    display: flex;
    justify-content: center;
    font-size: 15px;
    padding: 10px;

    
}
.titulo {
    
    color: #4d3c75;
}
.sidebar {
    grid-area: sidebar;
    background-color: aquamarine;
    padding: 20px;
    row-gap: 15px;

}
.sidebar h2 {
    color: #4d3c4d;
    margin: 0 0 15px 0;
}
.categoria {
    display: flex;
    cursor: pointer;
    color: #4d3c4d;
    margin: 0 0 5px 0;
}
.categoria:hover {
    color: rgba(25, 198, 137, 0.849);
}

.cantidad {
    color: #1fb51277;
}

.productos {
    grid-area: productos;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    margin: 10px 10px 10px 0;

}
.tarjeta {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    align-items: center;
    background: rgba(0, 255, 255, 0.296);
    color: antiquewhite;
    margin: 10px;
}
.tarjeta img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    max-height: 450px;
    margin: 10px 5px 0 5px;
    padding: 0 15px 0 15px;
    border-radius: 50px;
}
.tarjeta h3 {
    color: #4d3c75;
}
.detalle {
    color: rgba(119, 136, 153, 0.648);
}
.precio {
    color: #4d3c75;
}
.btn-buy {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #2fb645c5;
    border: none;
    padding: 10px;
    color: #4d3c75;
    margin-top: auto;
    font-size: 1rem;
}
.btn-buy:hover {
    background: rgba(255, 255, 0, 0.667);
    color: #1fb51277;
}
.footer {
    grid-area: footer;
    display: grid;
    justify-content: center;
    background: rgba(0, 255, 255, 0.566);
    padding: 10px;
    color: #4d3c75;

}